@keyframes marqueeMoveRTL {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}
@keyframes marqueeMoveLTR {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

.gc-marquee {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.gc-marquee > .gc-marquee-wrapper {
    display: flex;
    flex-direction: row;
    width: calc( 200% + 20px );
    overflow: hidden;
}
.gc-marquee-is-editing .gc-marquee-wrapper {
    width: 100%;
}
.gc-marquee-is-animating .gc-marquee-wrapper {
    animation: marqueeMoveRTL linear infinite;
    animation-duration: 5s;
}
.gc-marquee-is-animating.gc-marquee-is-reversed .gc-marquee-wrapper {
    animation: marqueeMoveLTR linear infinite;
    animation-duration: 5s;
}
.gc-marquee .gc-marquee-wrapper .gc-marquee-content {
    flex: 1 1 auto;
}
